// Typography
$size-body: 16px; // Usual browser default size
$size-header: 24px; // Usual browser default size
$size-subtitle: 32px; // Usual browser default size
$size-title: 64px; // Usual browser default size

//$size-body-mobile: 18px; // Size for mobile

// Breakpoints
//$bp-phone-portrait: 320px; //  Default size. Kept here just to see
$bp-phone-landscape: 480px; // Mobile-landscape (and larger)
$bp-tablet-portrait: 768px; // Tablet-portrait (and larger)
$bp-tablet-landscape: 992px; // Tablet-landscape (and larger)
$bp-desktop: 1200px; // Laptops (and larger)

// Colors
$color-black: #000;
$color-white: #ececec;
$color-blue: #3399FF;

// Padding / Margins
$standard-padding: 25px