@import "vars";

.color_blue{
  color: $color-blue;
}

.bg_color_blue{
  background-color: $color-blue;
}



.color_black{
  color: $color-black;
}

.bg_color_black{
  background-color: $color-black;
}



.color_white{
  color: $color_white;
}

.bg_color_white{
  background-color: $color_white;
}