@import "./vars";

// basic text settings - size, spacing, line-height
.body_text{
  letter-spacing: 1px;
  font-size: $size-body;
  line-height: 1.5;
}

.header_text{
  letter-spacing: 2px;  
  font-size: $size-header;
  line-height: 1.5;
}

.subtitle_text{
  font-size: $size-subtitle;
  //padding top helps center text
  padding-top: 4px;
  margin: 0;
  letter-spacing: 1px;
}

.title_text{
  letter-spacing: 2px;
  font-size: $size-title;
}

// text font settings
.league_spartan{
  font-family: "League Spartan", sans-serif;
}

.league_spartan_semibold{
  font-family: "League Spartan", sans-serif;
  font-weight: 500;
}

.league_spartan_bold{
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
}

.league_spartan_extrabold{
  font-family: "League Spartan", sans-serif;
  font-weight: 900;
  
}

.inter{
  font-family: "Inter", sans-serif;
}

.inter_semibold{
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

// 
.bold_text{
  font-family: "League Spartan SemiBold", sans-serif;
  letter-spacing: 1px;
  margin: 0;
  //padding top helps center text
  padding-top: 3px;
  font-size: large;
}

.text_alignment_center{
  text-align: center;
}

@media screen and (min-width: $bp-phone-landscape) {
  .bold_text{
    font-size: large;
  }
}
@media screen and (min-width: $bp-desktop) {
  .bold_text{
    font-size: x-large;
  }
}