@import "../vars";

.footer_body{
  display: flex;
  justify-content: center;
  background-color: white;
  color: black;
  font-family: "Inter Semi Bold", sans-serif;
  font-weight: 500;
  margin-top: $standard-padding;
  padding: $standard-padding 0 $standard-padding 0;
}