@import "vars";

body {
  background-color: black;
  color: white;
  height: 100%;
  margin: 0;
}

.layout {
  min-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.layout > div {
}

@media screen and (min-width: $bp-phone-landscape) {
  .layout > .content {
    width: 100%;
  }
  .left_sidebar {
    visibility: hidden;
    display: none;
    width: 0;
  }
  .right_sidebar {
    display: none;
    width: 0;
  }
}

@media screen and (min-width: $bp-desktop) {
  .layout > .content {
    min-width: 900px;
  }
  .left_sidebar {
    visibility: visible;
    display: flex;
    width: 400px;
  }
  .right_sidebar {
    display: flex;
    width: 300px;
  }
}


.content_body {
  height: 100%;
  background-color: white;
  color: black;
  box-sizing: border-box;
  padding: 10px;
}

.left_sidebar {
  margin-bottom: 50px;
  margin-right: 10px;
  min-width: 230px;
  justify-content: right;
  flex-direction: column;
  flex: border-box;
  overflow: hidden;
}

.sidebar_options {
  justify-content: right;
  box-sizing: border-box;
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.sidebar_options > * {
  margin: 0.5rem 0 0.5rem 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.button_horizontal_group {
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: 45px;
  gap: 10px;
}

.sidebar_button {
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: $color-blue;
  border-radius: 0.5rem;
}

.right_sidebar {
  margin-left: 10px;
  width: 300px;
}

.content_header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: black;
  color: white;
  padding: 20px;
  margin-top: -15px;
}

