@import "../vars";

body {
  background-color: black;
  color: white;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.layout {
  min-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.layout > .content {
  width: 100%;
}



.content_body {
  background-color: white;
  color: black;
}

.left_sidebar {
  margin: 100px 30px 50px 0;
  min-width: 230px;
  justify-content: right;
  flex-direction: column;
  flex: border-box;
  overflow: hidden;
  
  visibility: hidden;
  display: none;
  width: 0;
}

.sidebar_options {
  justify-content: right;
  box-sizing: border-box;
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.sidebar_options > * {
  margin: 0.5rem 0 0.5rem 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.button_horizontal_group {
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: 45px;
  gap: 10px;
}

.sidebar_button {
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: $color-blue;
  border-radius: 0.5rem;
}

.right_sidebar {
  margin-left: 30px;
  display: none;
  width: 300px;
}

// media queries must be last to override the basic mobile set

// keep this but instead of the left sidebar staying it should smash down into a side button that can be unfolded across 
// the screen to show the options. Similar to the default mobile design but it will be on the left instead of a bar on 
// the bottom
@media screen and (min-width: $bp-tablet-portrait) {
  .left_sidebar {
    visibility: visible;
    display: flex;
    width: 350px;
  }
  .right_sidebar {
    visibility: visible;
    display: flex;
    width: 50px;
  }
}

@media screen and (min-width: $bp-desktop) {
  .layout > .content {
    min-width: 900px;
  }
  .left_sidebar {
    visibility: visible;
    display: flex;
    width: 400px;
  }
  .right_sidebar {
    visibility: visible;
    display: flex;
    width: 300px;
  }
}