@import "vars";



.sidebar_links ul{
  list-style-type: none;
}

.sidebar_links *:link{
  text-decoration: none;
  text-align: right;
  display: flex;
  justify-content: right;
  padding-top: 15px;
}

.sidebar_links *:hover{
  text-decoration: none;
  color: $color-blue;
}


.section_link{
  font-size: x-large;
  font-family: "League Spartan SemiBold", sans-serif;
  color: white

}
.page_link{
  font-size: large;
  font-family: "League Spartan SemiBold", sans-serif;
  color: white
}

.selected {
  color: $color-blue;
}