@import "../vars";

.title_text{
  font-family: "League Spartan ExtraBold", sans-serif;
  letter-spacing: 2px;
  font-size: xxx-large;
}

.subtitle_blue_text{
  font-size: x-large;
  letter-spacing: 1px;
  text-align: center;
  color: $color-blue;
}

.bold_text{
  font-family: "League Spartan SemiBold", sans-serif;
  letter-spacing: 1px;
  margin: 0;
  padding-top: 4px;
  text-align: center;
  font-size: large;

}

@media screen and (min-width: $bp-phone-landscape) {
  .bold_text{
    font-size: large;
  }
}
@media screen and (min-width: $bp-desktop) {
  .bold_text{
    font-size: x-large;
  }
}