@import "../vars";

html {
  font-family: 'League Spartan Medium', sans-serif;
  background-color: $color-black;
  scroll-padding-top: var(--scroll-padding-top);
  
  * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: none;
  }
}