{% import "macros/content_links.html" as content_links %}
{% import "macros/footer.html" as footer %}
{% import "macros/mobile_menu.html" as mobile_menu %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Foslore.com</title>
    <link rel="stylesheet" href="/site.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
{{mobile_menu::mobile_menu()}}
<div class="layout">
    <div class="left_sidebar">
        <div class="options_links">
            <div class="button_horizontal_group">
                <div class="button">

                </div>
                <div class="button">

                </div>
                <div class="button">

                </div>
            </div>
            <div>
                <a class="button league_spartan_extrabold header_text color_white" href="/">HOME</a>
            </div>
            <div>
                <a class="button league_spartan_extrabold header_text color_white" href="/wiki">WIKI</a>
            </div>
            <div>
                <a class="button league_spartan_extrabold header_text color_white" href="/stories">STORIES</a>
            </div>
        </div>
        <div class="sidebar_links">
            {{content_links::content_links(show_parent=true)}}
        </div>
    </div>
    <div class="content">
        <div class="content_header">
            <header>
                {% if section %}
                <h1 class="title_text text_alignment_center">{{ section.title }}</h1>
                <h2 class="subtitle_text text_alignment_center color_blue" style="margin: 15px">{{ section.description }}</h2>
                {% elif page %}
                <h1 class="title_text text_alignment_center">{{ page.title }}</h1>
                <h2 class="subtitle_text text_alignment_center color_blue" style="margin: 15px">{{ page.description }}</h2>
                {% endif %}
            </header>
        </div>
        <div class="content_body body_text inter_semibold">
            {% block content %} {% endblock content %}
        </div>
    </div>
    <div class="right_sidebar"></div>
</div>

{{ footer::footer() }}

</body>
</html>
