{% import "macros/content_links.html" as content_links %}
{% import "macros/footer.html" as footer %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Foslore.com</title>
    <link rel="stylesheet" href="/site.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="layout">
    <div class="left_sidebar">
        <div class="sidebar_options">
            <div class="button_horizontal_group">
                <div class="sidebar_button">

                </div>
                <div class="sidebar_button">

                </div>
                <div class="sidebar_button">

                </div>
            </div>
            <div class="sidebar_button">
                <h2 class="bold_text">WIKI</h2>
            </div>
            <div class="sidebar_button">
                <h2 class="bold_text">STORIES</h2>
            </div>
            <div class="sidebar_button">
                <h2 class="bold_text">MISSION</h2>
            </div>
            <div class="sidebar_button">
                <h2 class="bold_text">CONTRIBUTE</h2>
            </div>
        </div>
        <div class="sidebar_links">
            {{content_links::content_links(show_parent=true)}}
        </div>
    </div>
    <div class="content">
        <div class="content_header">
            <header>
                {% if section %}
                <h1 class="title_text">{{ section.title }}</h1>
                <h2 class="subtitle_blue_text">{{ section.description }}</h2>
                {% elif page %}
                <h1 class="title_text">{{ page.title }}</h1>
                <h2 class="subtitle_blue_text">{{ page.description }}</h2>
                {% endif %}
            </header>
        </div>
        <div class="content_body">
            {% block content %} {% endblock content %}
        </div>
    </div>
    <div class="right_sidebar"></div>
</div>

{{ footer::footer() }}

</body>
</html>
