{% extends "base.html" %}

<!-- represents a section of pages. A category of stories, a specific time frame of articles, etc -->

{% block mobile_menu %}
{{mobile_menu::mobile_menu()}}
{% endblock mobile_menu %}

{% block sidebar_links %}
{{content_links::content_links(show_parent=true, show_child_sections=true)}}
{% endblock sidebar_links %}

{% block content %}
<!--
keeping this just as an example
<h1 class="title">
    {{ section.title }}
</h1>
-->
{{ section.content | safe }}

{% endblock content %}
