@import "../vars";

.section_link {
  font-size: x-large;
  letter-spacing: 1px;
  color: white;
}

.page_link {
  font-size: large;
  letter-spacing: 1px;
  color: white;
}

.selected {
  color: $color-blue;
}