@import "../vars";

.footer_body {
  bottom: 0;
  display: flex;
  justify-content: center;
  background-color: $color-white;
  color: black;
  padding: $standard-padding 0 $standard-padding 0;
  margin-top: $standard-padding;
  margin-bottom: $mobile-menu-width;
}

@media screen and (min-width: $bp-tablet-portrait) {
  .footer_body {
    margin-bottom: 0;
  }
}

@media screen and (min-width: $bp-desktop) {
  .footer_body {
    margin-bottom: 0;

  }
}