@import "../vars";

// Three layers of links.
// The middle, current layer we are in
// the layer above
// and the layer below
// all can have sections and pages
//


.sidebar_links ul{
  list-style-type: none;
}

.sidebar_links *:link{
  text-decoration: none;
  text-align: right;
  display: flex;
  justify-content: right;
  padding-top: 5px;
  padding-bottom: 5px;
}

.sidebar_links *:hover{
  text-decoration: none;
  color: $color-blue;
}


.section_link{
  font-size: x-large;
  font-family: "League Spartan ExtraBold", sans-serif;
  letter-spacing: 1px;

  color: white;

}
.page_link{
  font-size: large;
  font-family: "League Spartan Medium", sans-serif;
  letter-spacing: 1px;
  color: white;
  //background-color: gray;
  padding-right: 25px;
}

.selected {
  color: $color-blue;
}