@import "../vars";

// Three layers of links.
// The middle, current layer we are in
// the layer above
// and the layer below
// all can have sections and pages
//

.options_links {
  justify-content: right;
  box-sizing: border-box;
  width: 200px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.options_links > * {
  margin: 0.5rem 0 0.5rem 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.button_horizontal_group {
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: 45px;
  gap: 10px;
}


.sidebar_links ul {
  list-style-type: none;
}

.sidebar_links *:link {
  text-decoration: none;
  text-align: right;
  display: flex;
  justify-content: right;
  padding-top: 5px;
  padding-bottom: 5px;
}

.sidebar_links *:hover {
  text-decoration: none;
  color: $color-blue;
  transition: color 0.25s;
}


.section_link {
  font-size: x-large;
  letter-spacing: 1px;
  color: white;
}

.page_link {
  font-size: large;
  letter-spacing: 1px;
  color: white;
  padding-right: 25px;
}

.selected {
  color: $color-blue;
}